:root {
  --color-light: #ffffff;
  --color-main: #303030;
  --color-accent: #ff6c00;

  --font-main: "Open Sans", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}

html {
  font-size: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-top {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--color-main);
}

.section-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--color-main);
}

body {
  font-family: var(--font-main);
  background: grey;
}

.list {
  list-style: none;
}

.link {
  font-family: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #ff6c00;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: var(--color-light);
  text-decoration: none;
  color: red;
}

.header-list {
  list-style: none;
}

.header-phone {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-light);
}

/* _________ HERO SECTION __________ */

.hero-text__top {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.hero-text__top span {
  color: red;
}

.hero-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--color-light);
  margin: 0;
}

.hero-text__bottom {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.hero-link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--color-main);
  background-color: rgba(#303030, 0.5);
}

/* _________ ABOUT SECTION __________ */

.about {
}
.about-gallery {
}
.about-gallery-item {
}

.about-text-top {
}

.about-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--color-main);
}

.about-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-text-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--color-main);
}

/* _________ SERVICE SECTION __________ */

.service {
}
.service-text-top {
  color: rgba(157, 164, 189, 0.6);
}
.service-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--color-light);
}
.service-list {
}

.service-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  text-align: right;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.service-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--color-light);
}

/* _________ BENEFITS SECTION __________ */
.benefits {
}
.benefits-list {
}

.benefits-list-item p {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
  color: var(--color-main);
}

.benefits-list-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--color-main);
}

.benefits-text-top {
}

.benefits-title {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--color-main);
}
.benefits-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/* _________ BARBERS SECTION __________ */

.barbers {
}
.barbers-text-top {
}

.barbers-title {
  color: var(--color-light);
}
.barbers-list {
}
.barbers-card {
}
.barbers-card-name {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-main);
}
.barbers-card-position {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

/* _________ GALLERY SECTION __________ */

.gallery {
}
.gallery-title {
}
.gallery-text-top {
}
.gallery-list {
}
.gallery-list-item {
}

/* _________ BOOKING SECTION __________ */

.booking {
}
.booking-title {
  color: var(--color-light);
}

/* _________ CONTACTS SECTION __________ */

.contacts {
}
.contacts-title {
  color: var(--color-light);
}

.contacts-list {
}
.contacts-item {
}
.contacts-link.link-map {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  text-decoration: none;
  font-style: normal;
}
.contacts-link.link-phone {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  text-decoration: none;
  font-style: normal;
}
.contacts-link.link-email {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #9da4bd;
  font-style: normal;
}
.contacts-text-top {
  color: var(--color-light);
}
.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* _________ FOOTER  __________ */

.footer {
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-soc-list {
}
.list {
}
.footer-soc-item {
}
.footer-soc-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--color-main);
  text-decoration: none;
}

[type="button"] {
  background-color: teal;
}

.class-1.class-2 {
  color: red;
}
