:root {
  --color-light: #ffffff;
  --color-main: #303030;
  --color-accent: #ff6c00;

  --font-main: "Open Sans", sans-serif;
  --font-secondary: "Raleway", sans-serif;

  --main-margin: 20px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

html {
  font-size: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-top {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--color-main);
}

.section-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--color-main);
}

body {
  font-family: var(--font-main);
}

.list {
  list-style: none;
}

.link {
  font-family: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #ff6c00;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  padding: 12px 20px;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background: grey;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 130px;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: var(--color-light);
  text-decoration: none;
  display: block;
}

.header-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-list li {
  margin: 0 15px;
}

.header-phone {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-light);
}

.header-btn {
  margin-left: 43px;
}

/* _________ HERO SECTION __________ */

.hero {
  background: grey;
  /* padding: 272px 100px 208px 0; */
}

.hero .container {
  display: flex;
}

.hero-list {
  width: 100px;
}

.hero-info {
  padding: 272px 100px 208px;
  flex-grow: 1;
}

.hero-text__top {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--main-margin);
}

.hero-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--color-light);
  margin: 0 0 20px;
}

.hero-text__bottom {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 375px;
}

.hero-link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--color-main);
  background-color: rgba(#303030, 0.5);
}

/* _________ ABOUT SECTION __________ */

.about {
  padding: 120px 0;
}

.about .container {
  display: flex;
}

.about-gallery {
  display: flex;
  margin-right: 30px;
}
.about-gallery-item + .about-gallery-item {
  margin-left: 30px;
}

.about-text-top {
  margin-bottom: var(--main-margin);
}

.about-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--color-main);
  margin-bottom: var(--main-margin);
}

.about-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: var(--main-margin);
}

.about-text-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--color-main);
  margin-top: 42px;
}

/* _________ SERVICE SECTION __________ */

.service {
  padding-top: 120px;
  padding-bottom: 120px;
  background: gray;
}
.service-text-top {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--main-margin);
}
.service-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--color-light);
  margin-bottom: 44px;
}

.service-wrap {
  display: flex;
}

.service-list {
  padding: 30px 20px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  flex-grow: 1;
}

.service-list + .service-list {
  margin-left: 30px;
}

.service-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.service-list-item:last-child {
  margin-bottom: 0;
}

.service-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--color-light);
  margin: 44px auto 0;
  display: block;
}

/* _________ BENEFITS SECTION __________ */
.benefits {
  padding: 120px 0;
}
.benefits-list {
}

.benefits-list-item {
  width: 170px;
  height: 133px;
  padding: 16px 24px 20px;
  background: #f7f7f7;
  margin-bottom: 30px;
}

.benefits-list-item p {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
  color: var(--color-main);
}

.benefits-list-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--color-main);
  display: block;
  margin: 0 auto 6px;
}

.benefits-text-top {
  margin-bottom: var(--main-margin);
}

.benefits-title {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--color-main);
  margin-bottom: var(--main-margin);
  max-width: 430px;
}
.benefits-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  max-width: 500px;
}

/* _________ BARBERS SECTION __________ */

.barbers {
  padding: 120px 0;
  background: #f7f7f7;
}
.barbers-text-top {
  margin-bottom: var(--main-margin);
}

.barbers-title {
  margin-bottom: 44px;
}
.barbers-list {
  display: flex;
  grid-gap: 30px;
}
.barbers-card {
}

.barbers-card img {
  margin-bottom: 30px;
}

.barbers-card-name {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-main);
  margin-bottom: 8px;
}
.barbers-card-position {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-accent);
  margin-bottom: 30px;
}

/* _________ GALLERY SECTION __________ */

.gallery {
}
.gallery-title {
}
.gallery-text-top {
  margin-bottom: 44px;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  /* margin-left: -30px;
  margin-bottom: -30px; */
}
.gallery-list-item {
  /* margin-left: 30px;
  margin-bottom: 30px; */
  margin: 15px;
  /* flex-basis: calc((100% / 4) - 30px); */
  flex-basis: calc((100% - 120px) / 4);
}

.gallery-list-item img {
  max-width: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* _________ BOOKING SECTION __________ */

.booking {
}
.booking-title {
  color: var(--color-light);
}

/* _________ CONTACTS SECTION __________ */

.contacts {
}
.contacts-title {
  color: var(--color-light);
}

.contacts-list {
}
.contacts-item {
}
.contacts-link.link-map {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  text-decoration: none;
  font-style: normal;
}
.contacts-link.link-phone {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  text-decoration: none;
  font-style: normal;
}
.contacts-link.link-email {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #9da4bd;
  font-style: normal;
}
.contacts-text-top {
  color: var(--color-light);
}
.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* _________ FOOTER  __________ */

.footer {
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-soc-list {
}
.list {
}
.footer-soc-item {
}
.footer-soc-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--color-main);
  text-decoration: none;
}

.wrapper {
  width: 800px;
  height: 600px;
  list-style: none;
  outline: 1px solid red;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
}

.wrapper li {
  width: 100px;
  height: 100px;
}

.wrapper li.one {
  background: red;
}
.wrapper li.two {
  background: green;
}
.wrapper li.three {
  background: yellow;
}
.wrapper li.four {
  background: pink;
}

/* .list-item:nth-child(3n + 4) {
  background: red;
} */

/* an + b */

/* 
0
3 * 0 + 4 = 0

1
3 * 1 + 4 = 7

2
3 * 2 + 4 = 10 
....
*/

/* .list-item:nth-child(odd) {
  background: tomato;
} */
